<h1>Listing volunteers</h1>

<table>
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Address</th>
      <th>Suburb</th>
      <th>State</th>
      <th>Postcode</th>
      <th>Preferred schools</th>
      <th>Message</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @volunteers.each do |volunteer| %>
      <tr>
        <td><%= volunteer.first_name %></td>
        <td><%= volunteer.last_name %></td>
        <td><%= volunteer.email %></td>
        <td><%= volunteer.phone %></td>
        <td><%= volunteer.address %></td>
        <td><%= volunteer.suburb %></td>
        <td><%= volunteer.state %></td>
        <td><%= volunteer.postcode %></td>
        <td><%= volunteer.preferred_schools %></td>
        <td><%= volunteer.message %></td>
        <td><%= link_to 'Show', volunteer %></td>
        <td><%= link_to 'Edit', edit_volunteer_path(volunteer) %></td>
        <td><%= link_to 'Destroy', volunteer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Volunteer', new_volunteer_path %>
