<h1>Listing volunteers</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Suburb</th>
      <th>State</th>
      <th>Schools</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @volunteers.each do |volunteer| %>
      <tr>
        <td><%= volunteer.first_name %> <%= volunteer.last_name %></td>
        <td><%= volunteer.email %></td>
        <td><%= volunteer.phone %></td>
        <td><%= volunteer.suburb %></td>
        <td><%= volunteer.state %></td>
        <td>
          <ul>
          <% volunteer.code_club_schools.each do |ccs| %>
            
              <li><%= ccs.name %></li>
            
          <% end %>
          </ul>
        </td>
        <td><%= link_to 'Show', volunteer %></td>
        <td><%= link_to 'Edit', edit_volunteer_path(volunteer) %></td>
        <td><%= link_to 'Destroy', volunteer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Volunteer', new_volunteer_path %>
