<%= content_for :page_title, 'Volunteer for Code Club Australia' %>
<%= content_for :breadcrumb, 'Volunteer for Code Club Australia' %>
<%= content_for :description, 'Code Club Australia teaches kids aged 9-11 how to code. It is a non-profit organisation run by volunteers. You can register to volunteer here.' %>


<h1>Volunteer for CodeClub Australia</h1>

<div class="row">
<br><br>
<div class="col-md-4">

<div class="well">
<%= image_tag 'cca-logo.png', class: 'img-responsive' %>
<br><br>
<p>To register as a volunteer for <a href="http://codeclubau.org" target="_blank">Code Club Australia</a>, please complete all the fields of the registration form.</p>

<p>There will be two infomation sessions scheduled in April for volunteers so you can meet the team and be trained on the programme.</p>

<p>If you have any questions in the meantime, please don't hesitate to contact Dan Siepen. <A href="mailto:dan@thecoderfactory.com">dan@thecoderfactory.com</A></p>
<br>
<iframe width="300" src="//www.youtube.com/embed/aFtxo0HSi9A" frameborder="0" allowfullscreen></iframe>
</div>
</div>
<div class="col-md-8">
<div class="well">
<h2>Register to Volunteer</h2>
<%= render 'form' %>
</div>
</div></div>


