<%= simple_form_for(@programme_request) do |f| %>
  <%= f.error_notification %>
  <div class="col-md-6">
  <div class="form-group">
      <%= f.association :courses, collection: Course.active.all(order: 'name'), as: :check_boxes, label: "Which courses are you interested in?" %>
  </div>
  </div>
  <div class="col-md-6">
  <div class="form-group">
    <%= f.input :name, input_html: { class: 'form-control'}, placeholder: 'Your name', label: false %>
  </div>
  <div class="form-group">
    <%= f.input :email, input_html: { class: 'form-control'}, placeholder: 'Your email', label: false %>
  </div>
  <%= button_tag(type: "submit", class: 'btn btn-success btn-lg') do %><i class="fa fa-download"></i> Download now<% end %> <%= link_to 'Cancel', courses_path, class: 'btn' %>
  </div>
  
<% end %>
