<%= simple_form_for(@programme_request) do |f| %>
  <%= f.error_notification %>
  <div class="form-group">
    <%= f.input :name, input_html: { class: 'form-control'} %>
  </div>
  <div class="form-group">
    <%= f.input :email, input_html: { class: 'form-control'} %>
  </div>
  <div class="form-group">
    <%= f.input :follow_up, input_html: { class: 'form-control'} %>
  </div>
  <%= f.button :submit %>
  
<% end %>
