<h1>Listing programme_requests</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Follow up</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @programme_requests.each do |programme_request| %>
      <tr>
        <td><%= programme_request.name %></td>
        <td><%= programme_request.email %></td>
        <td><%= programme_request.follow_up %></td>
        <td><%= link_to 'Show', programme_request %></td>
        <td><%= link_to 'Edit', edit_programme_request_path(programme_request) %></td>
        <td><%= link_to 'Destroy', programme_request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Programme request', new_programme_request_path %>
