<%= simple_form_for(@slider) do |f| %>
  <%= f.error_notification %>
  <div class="form-group">
    <%= f.input :title, input_html: { class: 'form-control'} %>
  </div>
  <div class="form-group">
    <%= f.input :content, input_html: { class: 'form-control'} %>
  </div>
  <div class="form-group">
    <%= f.input :image, as: :file, input_html: { class: 'form-control'} %>
  </div>
  <div class="form-group">
    <%= f.input :button_text, input_html: { class: 'form-control'} %>
  </div>
  <div class="form-group">
    <%= f.input :button_url, input_html: { class: 'form-control'} %>
  </div>
  <div class="form-group">
    <%= f.input :priority, input_html: { class: 'form-control'} %>
  </div>
  <%= f.button :submit %>
  
<% end %>
