<h1>Listing sliders</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>Image</th>
      <th>Button text</th>
      <th>Button url</th>
      <th>Priority</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @sliders.each do |slider| %>
      <tr>
        <td><%= slider.title %></td>
        <td><%= slider.content %></td>
        <td><%= slider.image %></td>
        <td><%= slider.button_text %></td>
        <td><%= slider.button_url %></td>
        <td><%= slider.priority %></td>
        <td><%= link_to 'Show', slider %></td>
        <td><%= link_to 'Edit', edit_slider_path(slider) %></td>
        <td><%= link_to 'Destroy', slider, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Slider', new_slider_path %>
