<h1>Listing enrolments</h1>


<p><%=link_to 'Export Enrolments', export_enrolments_path %></p>
<p>
<%=link_to 'Export Programme Requests', export_programme_requests_path %></p>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Linkedin</th>
      <th>Github</th>
      <th>About</th>
      <th>Study</th>
      <th>Career</th>
      <th>Reason</th>
      <th>Goals</th>
      <th>Follow up</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @enrolments.each do |enrolment| %>
      <tr>
        <td><%= enrolment.name %></td>
        <td><%= enrolment.email %></td>
        <td><%= enrolment.phone %></td>
        <td><%= enrolment.linkedin %></td>
        <td><%= enrolment.github %></td>
        <td><%= enrolment.about %></td>
        <td><%= enrolment.study %></td>
        <td><%= enrolment.career %></td>
        <td><%= enrolment.reason %></td>
        <td><%= enrolment.goals %></td>
        <td><%= enrolment.follow_up %></td>
        <td><%= link_to 'Show', enrolment %></td>
        <td><%= link_to 'Edit', edit_enrolment_path(enrolment) %></td>
        <td><%= link_to 'Destroy', enrolment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Enrolment', new_enrolment_path %>
