<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @enrolment.name %>
</p>

<p><strong>Intake/s:</strong></p>
<ul>
  <% @enrolment.intakes.each do |intake| %>
    <li><%= intake.start_date %> (<%= intake.course.title %>)</li>
  <% end %>
</ul>

<p>
  <strong>Email:</strong>
  <%= @enrolment.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @enrolment.phone %>
</p>

<p>
  <strong>Linkedin:</strong>
  <%= @enrolment.linkedin %>
</p>

<p>
  <strong>Github:</strong>
  <%= @enrolment.github %>
</p>

<p>
  <strong>About:</strong>
  <%= @enrolment.about %>
</p>

<p>
  <strong>Study:</strong>
  <%= @enrolment.study %>
</p>

<p>
  <strong>Career:</strong>
  <%= @enrolment.career %>
</p>

<p>
  <strong>Reason:</strong>
  <%= @enrolment.reason %>
</p>

<p>
  <strong>Goals:</strong>
  <%= @enrolment.goals %>
</p>

<p>
  <strong>Follow up:</strong>
  <%= @enrolment.follow_up %>
</p>

<%= link_to 'Edit', edit_enrolment_path(@enrolment) %> |
<%= link_to 'Back', enrolments_path %>
