<%= content_for :page_title, 'Web development and javascript courses' %>
<%= content_for :breadcrumb, 'Courses' %>
<%= content_for :title, 'Web development and javascript courses: Beginner Coder, Rails Coder, Angular Coder, Expert Coder and Summer Coder Camp' %>
<%= content_for :description, "The Coder Factory offers a range of part time courses to teach you web development with Ruby on Rails, Angular.js, HTML5, CSS3, jQuery." %>
<!-- 
<p class="sub-heading-upper">The Coder Factory Courses</p> -->
		
<div class="row">
	<% @courses.each_with_index do |course, index| %>
		<% if (index + 1)%2 != 0 %>
			</div><div class="row">
		<% end %>
		<div class="col-md-6">
			<div class="panel panel-success">
				<div class="panel-heading">
					<h2 class="panel-title">
						<%= link_to course.title, course %> 
						<br>
						<span class="start-date">
						<%= course.duration %> | AUD <%= course.price %> | Class starts: <%= course.intakes.first.start_date.strftime('%e %h %Y') %>
						</span>
					</h2>
				</div>
				<div class="panel-body">
					
					<h3><%= course.lead %></h3>
					<p><%= course.intro %></p>
					<%= link_to course, class: 'btn btn-success btn-lg' do %><i class="fa fa-chevron-circle-right"></i> Find out more<% end %>
				</div>
			</div>
		</div>
<% end %>
</div>