<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Enquiry received</h1>
    
    <table>
      <tr>
        <th>Name:</th>
        <td><%= @enquiry.name %></td>
      </tr>
      <tr>
        <th>Email:</th>
        <td><%= @enquiry.email %></td>
      </tr>
      <tr>
        <th>subject:</th>
        <td><%= @enquiry.subject %></td>
      </tr>
      <tr>
        <th>Message:</th>
        <td><%= @enquiry.message %></td>
      </tr>
      <tr>
        <th>Link to enquiry</th>
        <td><%= link_to 'enquiry', enquiry_url(@enquiry) %></td>
      </tr>
      
    </table>
  </body>
</html>
