
<!-- MAIN CONTENT SECTION  _____________________________________________-->
<section id="content" role="main">
	
	<!-- WYSIWYG content  _____________________________________________-->
	
	<!-- Text box _____________________________________________-->
	<div class="white-box">
		<div class="wrapper">

			<!-- <div><p class="sub-heading-upper">Be inspired and get motivated</p></div> -->
			<div class="row">
				<div class="col-md-12">
					
				</div>
				<div class="col-md-9">
					<h2>Learn to code: Improve your life.</h2>
					<p class="lead">The Coder Factory flagship courses start January 2014. Whether you choose <strong>Expert Coder</strong> or <strong>Summer Coder Camp</strong> you will be a confident coder, building your own apps and on your way to Silicon Valley!</p>

				</div>
				<div class="col-md-3">
					<a class="btn btn-success btn-xl" href="#">RESERVE YOUR PLACE<br>  <i class="fa fa-asterisk fa-spin"></i> <em class="small">Limited spaces!</em> <i class="fa fa-asterisk fa-spin"></i></a>
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col-md-4">
					<h3 class="smaller-margin"><span class="square-icons blue"><i class="fa fa-group"></i></span> &nbsp; Fun, face-to-face classes.</h3>
					<p>Learning online is not for everybody. If you've struggled to learn coding on your own, join other like-minded people and become confident coders together. </p>
				</div>
				<div class="col-md-4">
					<h3 class="smaller-margin"><span class="square-icons blue"><i class="fa fa-tachometer"></i></span> &nbsp; Learn fast.</h3>
					<p>Even if you have never coded before, in just a few weeks you will be building cool apps that you will launch and attract customers.  </p>
				</div>
				<div class="col-md-4">
					<h3 class="smaller-margin"><span class="square-icons blue"><i class="fa fa-moon-o"></i></span> &nbsp; Busy with life? We're flexible.</h3>
					<p>With a choice of weekend or evening classes and a custom built, online student platform, you can fit your learning into your everyday life.</p>
				</div>
				<div class="col-md-4">
					<h3 class="smaller-margin"><span class="square-icons blue"><i class="fa fa-html5"></i></span> &nbsp; Technology education.</h3>
					<p>Learn the latest and greatest web development technologies including <em>Ruby on Rails</em>, <em>Angular.js</em>, <em>HTML5, CSS3</em> and <em>jQuery</em>.</p>
				</div>
				<div class="col-md-4">
					<h3 class="smaller-margin"><span class="square-icons blue"><i class="fa fa-rocket"></i></span> &nbsp; Build + launch real apps.</h3>
					<p>Experience the fun and excitement of building and launching a real live app with the rest of your classmates! Plus have the opportunity to build your own app ideas.</p>
				</div>
				<div class="col-md-4">
					<h3 class="smaller-margin"><span class="square-icons blue"><i class="fa fa-random"></i></span> &nbsp; Network and collaborate.</h3>
					<p>As a Coder Factory student, you will have many opportunities to meet and network with the people of the startup scene and hear their advice.</p>
				</div>
			</div>

			<div class="clear"></div>

		</div> <!-- END .wrapper FOR .white-box -->
	</div>
	<!-- END .white-box -->


	<!-- Text box _____________________________________________-->
	<div class="grey-box container">
		<div class="wrapper row">
		<h2>The Coder Factory Courses</h2>
			<div class="pricing four">
				
				<table>
					<thead>
						<tr><th class="heading">BEGINNER CODER</th></tr>
						<tr><th class="price">$395 <span>3 weeks</span></th></tr>
					</thead>
					<tbody>
						<tr><td><i class="fa fa-star grey"></i> <i class="fa fa-star grey"></i></td></tr>
						<tr><td>LEARN:</td></tr>
						<tr><td>UX & UI design with<br>
						<i class="fa fa-html5 grey"></i> HTML5 + <i class="fa fa-css3 grey"></i> CSS3 + <i class="fa fa-jquery grey"></i> jQuery</td></tr>
						<tr><td>Beautify your apps with frontend frameworks</td></tr>
						<tr><td>Object Oriented Programming with Ruby</td></tr>
						<tr><td>Rapid application development with Ruby on Rails</td></tr>
						<tr><td>Build a personal web app with your own blog</td></tr>
						<tr><td>Learn to make use of free, open source software</td></tr>
						<tr><td><i class="fa fa-star grey"></i> <i class="fa fa-star grey"></i></td></tr>
					</tbody>
					<tfoot>
						<tr><td><a href="/courses/beginner-coder" class="btn btn-primary">More info</a> <a href="#" class="btn btn-success">Enrol</a></td></tr>
					</tfoot>
				</table>
				
				<table>
					<thead>
						<tr><th class="heading">RAILS CODER</th></tr>
						<tr><th class="price">$1950 <span>8 weeks</span></th></tr>
					</thead>
					<tbody>
						<tr><td><i class="fa fa-star grey"></i> <i class="fa fa-star grey"></i> <i class="fa fa-star grey"></i></td></tr>
						<tr><td>LEARN:</td></tr>
						<tr><td>Database design</td></tr>
						<tr><td>Application design</td></tr>
						<tr><td>Advanced Ruby on Rails techniques</td></tr>
						<tr><td>Publishing your app to the web</td></tr>
						<tr><td>Use cool AJAX techniques for an interactive user experience</td></tr>
						<tr><td>In-app messaging</td></tr>
						<tr><td>Optimisation & Analytics</td></tr>
						<tr><td>Launching your app to the world</td></tr>
						<tr><td>Build a social networking app</td></tr>
						<tr><td>Build your own app idea!</td></tr>
						<tr><td><i class="fa fa-star grey"></i> <i class="fa fa-star grey"></i> <i class="fa fa-star grey"></i></td></tr>
					</tbody>
					<tfoot>
						<tr><td><a href="/courses/rails-coder" class="btn btn-primary">More info</a> <a href="#" class="btn btn-success">Enrol</a></td></tr>
					</tfoot>
				</table>
				
				<table>
					<thead>
						<tr><th class="heading">ANGULAR CODER</th></tr>
						<tr><th class="price">$950 <span>4 weeks</span></th></tr>
					</thead>
					<tbody>
						<tr><td><i class="fa fa-star grey"></i> <i class="fa fa-star grey"></i> <i class="fa fa-star grey"></i> <i class="fa fa-star grey"></i></td></tr>
						<tr><td>LEARN:</td></tr>
						<tr><td>Angular.js</td></tr>
						<tr><td>Advanced front-end design</td></tr>
						<tr><td>Creating amazing user experiences</td></tr>
						<tr><td>Adding your Angular front end to your Rails back end</td></tr>
						<tr><td>Create dynamic and exciting apps</td></tr>
						<tr><td>Build your own app idea</i></td></tr>
						<tr><td>Launch your app to the world</td></tr>
						<tr><td><i class="fa fa-star grey"></i> <i class="fa fa-star grey"></i> <i class="fa fa-star grey"></i> <i class="fa fa-star grey"></i></td></tr>
					</tbody>
					<tfoot>
						<tr><td><a href="/courses/angular-coder" class="btn btn-primary">More info</a> <a href="#" class="btn btn-success">Enrol</a></td></tr>
					</tfoot>
				</table>
				
				<table class="highlighted">
					<thead>
						<tr><th class="heading">EXPERT CODER</th></tr>
						<tr><th class="price">$3250 <span>15 weeks</span></th></tr>
					</thead>
					<tbody>
						<tr><td><i class="fa fa-star grey"></i> <i class="fa fa-star grey"></i> <i class="fa fa-star grey"></i> <i class="fa fa-star grey"></i> <i class="fa fa-star grey"></i></td></tr>
						<tr><td><strong><i class="fa fa-tablet fa-3x grey"></i><br>Free iPad Mini or Nexus 7<br>worth up to $450</strong></td></tr>
						<tr><td><i class="fa fa-star grey"></i> <i class="fa fa-star grey"></i> <i class="fa fa-star grey"></i> <i class="fa fa-star grey"></i> <i class="fa fa-star grey"></i></td></tr>
						<tr><td>CODER 101 (3 weeks)<br>+<br>RAILS CODER (8 weeks)<br>+<br>ANGULAR CODER (4 weeks)</td></tr>
						<tr><td><i class="fa fa-star grey"></i> <i class="fa fa-star grey"></i> <i class="fa fa-star grey"></i> <i class="fa fa-star grey"></i> <i class="fa fa-star grey"></i></td></tr>
						<tr><td>The complete programme</td></tr>
						<tr><td>Lifetime help & support</td></tr>
						<tr><td>Lifetime friendships</td></tr>
						<tr><td>Lifetime opportunities for startup success!</td></tr>
						<tr><td><i class="fa fa-star grey"></i> <i class="fa fa-star grey"></i> <i class="fa fa-star grey"></i> <i class="fa fa-star grey"></i> <i class="fa fa-star grey"></i></td></tr>
					</tbody>
					<tfoot>
						<tr><td><a href="/courses/expert-coder" class="btn btn-primary">More info</a> <a href="#" class="btn btn-success">Enrol</a></td></tr>
					</tfoot>
				</table>
			</div>
		</div> <!-- END .wrapper FOR .grey-box -->
	</div>
	<!-- END .grey-box -->
	

	
	
	<!-- Widgets (blog, ...) _____________________________________________-->
	<div class="widgets container">
		<div class="wrapper row">
			

			
			<!-- Testimonials _____________________________________________-->
			<div class="col-md-6 widget">
				<div class="row">
				<h2>Testimonials</h2>
				<p class="sub-heading-upper">What Our Graduates Say</p>
				
				<div class="quote">
					<blockquote>
						<p>“I struggled and plodded for 6 months trying to teach myself, then started your course and within a few weeks everything just started falling into place!”</p>
					</blockquote>
					<footer>
						<div class="author-image"><%= image_tag "andrew-kemp.jpg", alt:"Author" %></div>
						<p class="author"><strong>Andrew Kemp</strong> &nbsp; Darlinghurst</p>
					</footer>
				</div> <!-- END .quote -->
				
				<!-- <div class="quote">
					<blockquote>
						<p>“Here's a good advice: Buy this product! It has been our lifesaver since we installed it throughout the company. Please, do not hesitate, you will be very happy, as well as all your clients.”</p>
					</blockquote>
					<footer>
						<div class="author-image"><img src="images/quote-author-2.jpg" alt="Author" /></div>
						<p class="author"><strong>Jane Austin</strong> &nbsp; CEO of some other Company</p>
					</footer>
				</div>  --><!-- END .quote -->
				</div>
				<hr>
				<div class="row">
								<h2>Latest Articles</h2>
				
				<article id="post-1" class="post format-standard well">
					<header class="entry-header">
						<p class="entry-date sub-heading-upper">
							<i class="fa fa-clock-o"></i> &nbsp;<time datetime="<%= @post.created_at %>"><%= @post.created_at.strftime('%A, %e %B %Y') %></time>
						</p><!-- .entry-date -->
						<h3 class="entry-title"><%= link_to @post.title, @post %></h3>
					</header><!-- .entry-header -->

					<div class="post-featured-image">
						<%= link_to @post do %><%= image_tag "blog_image.png", alt: "" %><% end %>
					</div>
					
					<div class="entry-content">
						<p><%= @post.lead.html_safe %></p>
						<p class="more-link"><%= link_to "Read more", @post %></p>
					</div><!-- .entry-content -->
				</article><!-- END article.post -->
								<p><%= link_to "Read all articles", blog_path, class: "btn btn-primary" %></p>
				</div>
				<!-- <p class="pull-right"><a class="button" href="blog.html">More testimonials</a></p> -->
			</div> <!-- END .widget -->
			<!-- From the blog _____________________________________________-->
			<div class="col-md-6 widget right">
			<h2>Tweets</h2>
			<p class="sub-heading-upper">Follow us and stay in the loop</p>
				<a class="twitter-timeline" href="https://twitter.com/coderfactory" data-widget-id="406813746749640704">Tweets by @coderfactory</a>
				<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
			</div> <!-- END .widget -->
			<div class="clear"></div>

		</div>  <!-- END .wrapper FOR .widgets -->
	</div>
	<!-- END .widgets -->
	
	
	
</section>
<!-- END #content -->