<section id="content" role="main">
	
	<!-- WYSIWYG content  _____________________________________________-->
	
	<!-- Text box _____________________________________________-->
	<div class="white-box">
		<div class="wrapper">

			<!-- <div><p class="sub-heading-upper">Be inspired and get motivated</p></div> -->
			<div class="row">
				
				<div class="col-md-9">
					<div class="row">
						<div class="col-md-8">
							<h1>Beginner Coder course</h1>
							<h2>Introductory price: <strike>$700</strike> <span class="text-danger">$395</span></h2>
							<ul class="thumbs-up">
								<li>Change your life. Learn to code.</li>
								<li>Find out for yourself how it easy it can be to code.</li>
								<li>Design and build an application you can be proud of.</li>
								<li>Learn about the free tools that make your site look amazing.</li>
							</ul>
						</div>
						<div class="col-md-4">
							<a href="http://thecoderfactory.com/courses/beginner-coder-web-design-development-course" class="btn btn-success btn-xl"><i class="fa fa-chevron-circle-right"></i> CHANGE YOUR LIFE<br>#LearnToCode</a>
						</div>
					</div>
					<!-- <div class="row">
						<div class="col-md-12">
							<p class="lead" style="margin-bottom: 5px;">Change your life.<br>Build your own dynamic and beautiful web applications by learning to code.</p>
						</div>
						
					</div> -->

					<hr>
					<h2>Watch these clips for inspiration</h2>
					<div class="sneakpeak-carousel">
						<ul>
							<li class="piece cat1 cat2">
								<a href="http://bit.ly/1cK2Lfy" target="_blank">
									<%= image_tag 'Obama.png' %>
								</a>
								<h3>President Obama calls on everyone to learn to code</h3>

							</li>
							<li class="piece cat3">
								<a href="http://bit.ly/1cK2HMH" target="_blank"><%= image_tag 'Zuckerberg.png' %></a>
								<h3>What most schools don't teach<br>Code.org</h3>
							</li>
							<li class="piece cat1 cat3">
								<a href="http://bit.ly/1cK2Pfh" target="_blank"><%= image_tag 'Teach.png' %></a>
								<h3>Teach the world to code<br>Pete Argent @ Ignite Sydney</h3>
							</li>
							
						</ul>
					</div> 
					<a href="javascript:void(0)" class="sneakpeak-prev"><%= image_tag 'cursor-prev-dark.png', alt: 'arrow previous' %></a>
					<a href="javascript:void(0)" class="sneakpeak-next"><%= image_tag 'cursor-next-dark.png', alt: 'arrow next' %></a> 
				</div>
				<div class="col-md-3">
					
					<%= image_tag 'beginner.jpg', class: "img-responsive pull-left" %>
				</div>
			</div>
		</div>
	</div>
	<div class="grey-box">
		<div class="wrapper row">
				<div class="col-md-4">
					<h3 class="smaller-margin"><span class="square-icons blue"><i class="fa fa-group"></i></span> &nbsp; Fun, face-to-face classes.</h3>
					<p>Learning online is not for everybody. If you've struggled to learn coding on your own, join other like-minded people and become confident coders together. </p>
				</div>
				<div class="col-md-4">
					<h3 class="smaller-margin"><span class="square-icons blue"><i class="fa fa-tachometer"></i></span> &nbsp; Learn fast.</h3>
					<p>Even if you have never coded before, in just a few weeks you will be building cool apps that you will launch and attract customers.  </p>
				</div>
				<div class="col-md-4">
					<h3 class="smaller-margin"><span class="square-icons blue"><i class="fa fa-moon-o"></i></span> &nbsp; Busy with life? We're flexible.</h3>
					<p>With a choice of weekend or evening classes and a custom built, online student platform, you can fit your learning into your everyday life.</p>
				</div>
			</div>
			<div class="wrapper row">
				<div class="col-md-4">
					<h3 class="smaller-margin"><span class="square-icons blue"><i class="fa fa-html5"></i></span> &nbsp; Learn the latest tech.</h3>
					<p>Learn the latest and greatest web development technologies including <em>Ruby on Rails</em>, <em>Angular.js</em>, <em>HTML5, CSS3</em> and <em>jQuery</em>.</p>
				</div>
				<div class="col-md-4">
					<h3 class="smaller-margin"><span class="square-icons blue"><i class="fa fa-rocket"></i></span> &nbsp; Build + launch real apps.</h3>
					<p>Experience the fun and excitement of building and launching a real live app with the rest of your classmates! Plus have the opportunity to build your own app ideas.</p>
				</div>
				<div class="col-md-4">
					<h3 class="smaller-margin"><span class="square-icons blue"><i class="fa fa-random"></i></span> &nbsp; Network and collaborate.</h3>
					<p>As a Coder Factory student, you will have many opportunities to meet and network with the people of the startup scene and hear their advice.</p>
				</div>
			</div>

			<div class="clear"></div>
		</div> <!-- END .wrapper FOR .white-box -->
	</div>
	<!-- END .white-box -->


	
	
	<!-- Widgets (blog, ...) _____________________________________________-->
<div class="widgets container">
	<div class="wrapper row">
		<div class="col-md-6 widget">
			<div class="row">
				<h2>Testimonials</h2>
				<p class="sub-heading-upper">What Our Graduates Say</p>
			
				<div class="quote">
					<blockquote>
						<p>“Thanks again Pete, you've helped change my life.”</p>
					</blockquote>
					<footer>
						<div class="author-image"><%= image_tag "david.jpg", alt:"Author" %></div>
						<p class="author">
							<strong>David Evans</strong>
							<br>Web Developer, Sentia
							<br>Bondi
						</p>
					</footer>
				</div> <!-- END .quote -->
					
					<!-- <div class="quote">
						<blockquote>
							<p>“Here's a good advice: Buy this product! It has been our lifesaver since we installed it throughout the company. Please, do not hesitate, you will be very happy, as well as all your clients.”</p>
						</blockquote>
						<footer>
							<div class="author-image"><img src="images/quote-author-2.jpg" alt="Author" /></div>
							<p class="author"><strong>Jane Austin</strong> &nbsp; CEO of some other Company</p>
						</footer>
					</div>  --><!-- END .quote -->
			</div>
			<hr>
			<div class="row">
				<h2>Latest Articles</h2>
				<article id="post-1" class="post format-standard well">
					<header class="entry-header">
						<p class="entry-date sub-heading-upper">
							<i class="fa fa-clock-o"></i> &nbsp;<time datetime="<%= @post.created_at %>"><%= @post.created_at.strftime('%A, %e %B %Y') %></time>
						</p><!-- .entry-date -->
						<h3 class="entry-title"><%= link_to @post.title, @post %></h3>
					</header><!-- .entry-header -->

					<div class="post-featured-image">
						<%= link_to @post do %><%= image_tag @post.image, alt: "" %><% end %>
					</div>
				
					<div class="entry-content">
						<p><%= @post.lead.html_safe %></p>
						<p class="more-link"><%= link_to "Read more", @post %></p>
					</div><!-- .entry-content -->
				</article><!-- END article.post -->
							<p><%= link_to "Read all articles", blog_path, class: "btn btn-primary" %></p>
			</div>
			<!-- <p class="pull-right"><a class="button" href="blog.html">More testimonials</a></p> -->
		</div> <!-- END .widget -->
		<!-- From the blog _____________________________________________-->
		<div class="col-md-6 widget right">
			<h2>Tweets</h2>
			<p class="sub-heading-upper">Follow us and stay in the loop</p>
			<a class="twitter-timeline" href="https://twitter.com/coderfactory" data-widget-id="406813746749640704">Tweets by @coderfactory</a>
			<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
		</div> <!-- END .widget -->
		<div class="clear"></div>

	</div> 
</div>
	
<div class="grey-box">
	<div class="wrapper row">
			
		</div>

		<div class="clear"></div>
	</div> <!-- END .wrapper FOR .white-box -->
</div>
	
	
</section>
