<h1>Listing events</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Lead</th>
      <th>Description</th>
      <th>Date</th>
      <th>Start time</th>
      <th>Finish time</th>
      <th>Publish</th>
      <th>Recurring</th>
      <th>Recurring interval</th>
      <th>Recurring number</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.title %></td>
        <td><%= event.lead %></td>
        <td><%= event.description %></td>
        <td><%= event.date %></td>
        <td><%= event.start_time %></td>
        <td><%= event.finish_time %></td>
        <td><%= event.publish %></td>
        <td><%= event.recurring %></td>
        <td><%= event.recurring_interval %></td>
        <td><%= event.recurring_number %></td>
        <td><%= link_to 'Show', event %></td>
        <td><%= link_to 'Edit', edit_event_path(event) %></td>
        <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event', new_event_path %>
