<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @student_site.name %>
</p>

<p>
  <strong>Url:</strong>
  <%= @student_site.url %>
</p>

<p>
  <strong>Image:</strong>
  <%= @student_site.image %>
</p>

<p>
  <strong>Screenshot:</strong>
  <%= @student_site.screenshot %>
</p>

<%= link_to 'Edit', edit_student_site_path(@student_site) %> |
<%= link_to 'Back', student_sites_path %>
