<h1>Listing user_profiles</h1>

<table class="table">
  <thead>
    <tr>
      <th>User</th>
      <th>Twitter</th>
      <th>Linkedin</th>
      <th>Github</th>
      <th>Startupcommunity</th>
      <th>Google plus</th>
      <th>Bio</th>
      <th>Title</th>
      <th>Image</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @user_profiles.each do |user_profile| %>
      <tr>
        <td><%= user_profile.user %></td>
        <td><%= user_profile.twitter %></td>
        <td><%= user_profile.linkedin %></td>
        <td><%= user_profile.github %></td>
        <td><%= user_profile.startupcommunity %></td>
        <td><%= user_profile.google_plus %></td>
        <td><%= user_profile.bio %></td>
        <td><%= user_profile.title %></td>
        <td><%= user_profile.image %></td>
        <td><%= link_to 'Show', user_profile %></td>
        <td><%= link_to 'Edit', edit_user_profile_path(user_profile) %></td>
        <td><%= link_to 'Destroy', user_profile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User profile', new_user_profile_path %>
