<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @user_profile.user %>
</p>

<p>
  <strong>Twitter:</strong>
  <%= @user_profile.twitter %>
</p>

<p>
  <strong>Linkedin:</strong>
  <%= @user_profile.linkedin %>
</p>

<p>
  <strong>Github:</strong>
  <%= @user_profile.github %>
</p>

<p>
  <strong>Startupcommunity:</strong>
  <%= @user_profile.startupcommunity %>
</p>

<p>
  <strong>Google plus:</strong>
  <%= @user_profile.google_plus %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @user_profile.bio %>
</p>

<p>
  <strong>Title:</strong>
  <%= @user_profile.title %>
</p>

<p>
  <strong>Image:</strong>
  <%= @user_profile.image %>
</p>

<%= link_to 'Edit', edit_user_profile_path(@user_profile) %> |
<%= link_to 'Back', user_profiles_path %>
