<%= simple_form_for(@course) do |f| %>
  <%= f.error_notification %>

  <div class="form-group">
    <%= f.input :title, input_html: { class: 'form-control'} %>
  </div>
  <div class="form-group">
    <%= f.input :image, as: :file %>
  </div>
  <div class="form-group">
    <%= f.input :lead, input_html: { class: 'form-control'} %>
  </div>
  <div class="form-group">
    <%= f.input :intro, input_html: { class: 'form-control'} %>
  </div>
  <div class="form-group">
    <%= f.input :description, input_html: { class: 'form-control'} %>
  </div>
  <div class="form-group">
    <%= f.input :designed_for, input_html: { class: 'form-control'} %>
  </div>
  <div class="form-group">
    <%= f.input :price, input_html: { class: 'form-control'} %>
  </div>
  <div class="form-group">
    <%= f.input :duration, input_html: { class: 'form-control'} %>
  </div>
  <div class="form-group">
    <%= f.input :active %>
  </div>
  <div class="form-group">
    <%= f.input :priority, input_html: { class: 'form-control'} %>
  </div>
  <div class="form-group">
    <%= f.input :programme, as: :file %>
  </div>
  <div class="form-group">
    <%= f.input :slug, input_html: { class: 'form-control'} %>
  </div>
  <div class="form-group">
    <%= f.input :highlight %>
  </div>
  <div class="form-group">
    <%= f.input :course_order, input_html: { class: 'form-control'} %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
