<%= content_for :page_title, @course.title %>
<%= content_for :breadcrumb, 'Courses' %>
<%= content_for :link, '/web-development-and-javascript-courses' %>
<%= content_for :sub_breadcrumb, @course.title %>
<%= content_for :title, @course.title + ' Locations: ' + @course.intakes.first.location %>
<%= content_for :description, @course.title + ': ' + @course.lead + @course.intro + ' Next start date: ' + @course.intakes.first.start_date.strftime('%e %h %Y').to_s %>
<div class="row">
<div class="col-md-8">
<h1><%= @course.title %> &nbsp;&nbsp;<small><%= @course.duration %> <i class="fa fa-angle-double-right"></i> AUD <%= @course.price %> </small></h1>
<div class="panel panel-default">
	<div class="panel-heading">
				<h2 class="panel-title"><%= @course.lead %></h2>
	</div>
	<div class="panel-body">
		<div class="row">
			<div class="col-md-9">
				<h3 class="hype"></h3>
				<p><%= link_to new_enrolment_path, class: "btn btn-success" do %><i class="fa fa-arrow-circle-right"></i> Enrol to reserve your place<% end %>
				&nbsp;
				<%= link_to new_programme_request_path, class: 'btn btn-primary btn-sm' do %><i class="fa fa-download"></i> Download programme details<% end %>
				</p>
				<p class="lead"><%= @course.intro.html_safe %></p>
				<h3>The programme</h3>
				<%= @course.description.html_safe %>
				
				<br>
			</div>
			<div class="col-md-3">
				<%= image_tag @course.image, class: 'img-responsive' %>
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-12 light-blue">
			<h2>Upcoming classes</h2>
				<% if @intakes && @intakes.count > 0 %>
				<div>
					<table class="table table-hover">
					<thead>
						<tr>
							<th>Start date</th>
							<th>Class days</th>
							<th>Location</th>
							<th>Places left</th>
						</tr>
					</thead>
					<tbody>
					<% @intakes.each do |intake| %>
						<tr>
							<td>
								<%= intake.start_date.strftime('%B') %><br>
								<%= intake.start_date.strftime('%e/%m/%y') %> 
								<a href="#" data-toggle="tooltip" title="" data-original-title="Finishes <%= intake.end_date.strftime('%A, %e %h %Y') %>"><i class="fa fa-question-circle"></i></a>
							</td>								
							<td><%= intake.class_days %><br><%= intake.start_time.strftime('%l%P') %> - <%= intake.finish_time.strftime('%l%P') %></td>
							<td><%= intake.location %></td>
							<td style="text-align:center;">
								<% if intake.class_full %>
									<span class="badge">Class full!</span>
								<% else %>
									<span class="badge badge-success"><%= intake.places_left %></span>
								<% end %>
							</td>
						</tr>
					<% end %>
					</tbody>
					</table>
					</div>				
				<% end %>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-6">
				<p class="sub-heading-upper">What you'll learn</p>
				<ul class="plus">
					<% @course.skills.each do |skill| %>
						<li><%= skill.name.html_safe %> 
							<% if !skill.description.empty? %>
								<a href="#" data-toggle="tooltip" title="" data-original-title="<%= skill.description.html_safe %>"><i class="fa fa-question-circle"></i></a>
							<% end %>
						</li>
					<% end %>
				</ul>

			</div>
			<div class="col-md-6">
				<p class="sub-heading-upper">Actions</p>
					<%= link_to new_enrolment_path(:course => @course), class: "btn btn-success btn-lg" do %><i class="fa fa-arrow-circle-right"></i> Enrol to reserve your place<% end %>
					<br><br>
					<%= link_to new_programme_request_path, class: 'btn btn-primary btn-sm' do %><i class="fa fa-download"></i> Download programme details<% end %>
					

				
			</div>
		</div>
		<br>
		
	</div>
</div>
<% if user_signed_in? %>
	<% if current_user.has_role? :admin %>
		<%= link_to "edit", edit_course_path(@course), class: 'btn btn-warning btn-sm' %>
	<% end %>
<% end %>
</div>
<div class="col-md-4">
<p class="sub-heading-upper">More courses</p>
<div class="accordion accordion-style1">
<% @courses.each do |course| %>
	<% if course != @course %>
		 	<h4 class="accordion-title"><a href="#"><%= course.title %></a></h4>
		 	<div>
		 		<p><span class="start-date">
						<%= course.duration %> | AUD <%= course.price %> | Class starts: <%= course.intakes.first.start_date.strftime('%e %h %Y') %>
						</span>

		 		<br><%= course.lead %></p>
		 		<p><%= link_to "More info", course, class: 'btn btn-info btn-xs' %></p>
		 	</div>
		 
	<% end %>
<% end %>
</div></div>