<%= content_for :page_title, @course.title %>
<%= content_for :breadcrumb, 'Courses' %>
<%= content_for :link, '/web-development-and-javascript-courses' %>
<%= content_for :sub_breadcrumb, @course.title %>
<div class="row">
<div class="col-md-8">
<div class="panel panel-info">
				<div class="panel-heading">
					<h2 class="panel-title"><%= link_to @course.title, @course %>

					<span class="pull-right">
						<%= link_to new_programme_request_path(:course => @course), class: "btn btn-primary btn-sm" do %>
							<i class="fa fa-download"></i> Download programme
						<% end %>
					</span>


					<br><small><%= @course.duration %> | AUD <%= @course.price %></small></h2>
				</div>
				<div class="panel-body">
<h3><%= @course.lead %></h3>
<p class="lead"><%= @course.intro %></p>
<div class="row">
<div class="col-md-6">
<p class="sub-heading-upper">Learn</p>
<%= @course.description.html_safe %>
</div>
<div class="col-md-6">
<p class="sub-heading-upper">Next class starts soon</p>
<ul class="star">
<li>Start date: <%= @intake.start_date.strftime('%e %h %Y') %></li>
<li>Location: <%= @intake.location %></li>
<li><%= @intake.class_days %></li>
<li><%= @intake.start_time.strftime('%l:%M%P') %> - <%= @intake.finish_time.strftime('%l:%M%P') %></li>
</ul>
<%= link_to new_enrolment_path(:course => @course), class: "btn btn-success btn-lg" do %><i class="fa fa-arrow-circle-right"></i> Reserve your place<% end %>
</div>
</div>
</div>
</div>
<% if user_signed_in? %>
	<% if current_user.has_role? :admin %>
		<%= link_to "edit", edit_course_path(@course), class: 'btn btn-warning btn-sm' %>
	<% end %>
<% end %>
</div>
<div class="col-md-4">
<p class="sub-heading-upper">More courses</p>
<div class="accordion accordion-style1">
<% @courses.each do |course| %>
	<% if course != @course %>
		 	<h4 class="accordion-title"><a href="#"><%= course.title %></a></h4>
		 	<div>
		 		<p><span class="grey"><%= course.duration %> | AUD <%= course.price %></span><br><%= course.lead %></p>
		 		<p><%= link_to "More info", course, class: 'btn btn-info btn-xs' %></p>
		 	</div>
		 
	<% end %>
<% end %>
</div></div>