<%= simple_nested_form_for @post, :html => {:multipart => true} do |f| %>
  <%= f.error_notification %>
<div class="form-group">
    <%= f.association :categories, as: :check_boxes %>
    <%= link_to "Add a category", new_category_path %>
  </div>
  <div class="form-group">
    <%= f.input :title, input_html: { class: 'form-control' } %>
  </div>
  <div class="form-group">
    <%= f.input :lead, input_html: { class: 'form-control' } %>
  </div>
  <div class="form-group">
    <%= f.input :content, input_html: { class: 'form-control', rows: 15 } %>
  </div>
  <div class="form-group">
    <%= f.input :image, as: :file %>
  </div>
  <div class="form-group">
    <%= f.input :publish %>
  </div>
  <div class="form-group">
    <%= f.input :slug, input_html: { class: 'form-control' }, label: 'SEO friendly URL'  %>
  </div>
  <div class="form-group">
    <%= f.input :tag_list, :label => 'Tags', input_html: { class: 'form-control' } %>
  </div>
  <%= f.button :submit %>
<% end %>
