<%= content_for :page_title, @post.title %>
<%= content_for :breadcrumb, 'Blog' %>
<%= content_for :link, '/blog' %>
<%= content_for :sub_breadcrumb, @post.title %>
<%= content_for :title, @post.title %>
<%= content_for :description, @post.title + ' ' + @post.lead %>

    <!-- BLOG content  _____________________________________________-->
    <article id="post-1" class="post">

      <header class="entry-header">
      <h1><%= @post.title %> 
          <% if user_signed_in? %>
            <% if current_user.has_role? :admin %>
              <%= link_to "edit", edit_post_path(@post), class: 'btn btn-warning btn-sm' %>
            <% end %>
          <% end %>
        </h1> 
        <!-- Post Featured Image ______________________________________-->
        <div class="post-image">
          <% if !@post.image.blank? %>
                <%= image_tag @post.image, alt: @post.title %>
              <% else %>
                <%= image_tag @post.image_link, alt: @post.title %>
              <% end %>  
        </div>  

        <!-- Meta info ______________________________________-->
        <div class="entry-byline">
          <ul>
              <li>
                <strong><i class="fa fa-user" title="Author"></i></strong> <span class="author vcard"><a class="url fn n" rel="author" href="https://plus.google.com/<%= @post.user.user_profile.google_plus %>?rel=author" title="<%= @post.user.name %>"><%= @post.user.name %></a></span>
              </li>
              <li>
                <strong><i class="fa fa-clock-o" title="Published on"></i></strong> <abbr class="published" title="<%= @post.created_at.strftime('%A, %e %B %Y, %l:%M%P') %>"><%= @post.created_at.strftime('%A, %e %B %Y') %></abbr>
              </li>
              <li>
                <strong><i class="fa fa-comment" title="Comments"></i></strong> <a class="comments-link" href="#comments" title="Comment on Hello world!"><%= pluralize(@comments.count, "Response") %></a>
              </li>
            </ul>
        </div><!-- END .entry-byline -->
        
      </header> <!-- END .entry-header -->

      <div class="entry-content">
        <!-- Heading ______________________________________-->
           
        
        <!-- WYSIWYG Content ______________________________________-->
        <p class="lead"><%= @post.lead.html_safe %></p>
        <%= @post.content.html_safe %>
        <hr>
        <div class="well col-md-8">
        <form action="http://thecoderfactory.us7.list-manage1.com/subscribe/post?u=1c644187b6d7e06d32bcae158&amp;id=2afdc8b0c3" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <div class="form-group">
          <label for="mce-EMAIL">Stay up to date with the latest from The Coder Factory</label>
          <input type="email" value="" name="EMAIL" class="email form-control" id="mce-EMAIL" placeholder="subscribe with your email address" required></div>
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;"><input type="text" name="b_1c644187b6d7e06d32bcae158_2afdc8b0c3" value=""></div>
          <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-success"></div>
        </form>
</div>
      <br>
        <!-- Footer meta info ______________________________________-->
        <footer class="entry-footer">
          <div class="entry-meta">
            <p>Posted in: </p>
              <% @post.categories.each do |category| %>
                  <%= link_to category.name, blog_path(:category => category), class: 'btn btn-default'  %> 
              <% end %>
            </p>
            <p>Hash tags:</p>
            <ul class="tags">
              <% @post.tag_list.each do |tag| %>
              <li><a href="#" rel="tag"><%= tag %></a></li> 
              <% end %>
            </ul>
          </div>    
        </footer><!-- END .entry-footer -->
      </div><!-- END .entry-content -->
      <div class="clear"></div>
      
    </article>
      
    <!-- Comments ______________________________________-->
    <section id="comments">

      <h3 id="comments-number"><%= pluralize(@comments.count, "Response") %></h3>
      <ol class="comment-list">
        
        <% @comments.each do |comment| %>
          <li id="comment-1" class="comment even thread-even depth-1 reader has-avatar">
            <a href="#" rel="external nofollow" title="">
                     <%= gravatar_image_tag(comment.email, :alt => comment.name, class: "avatar avatar-80 photo avatar-default", height: "80", width: "80") %>
                     </a>


                      <div class="comment-meta">
                       <span class="comment-author vcard"><cite class="fn" title=""><a href="#" title="<%= comment.name %>" class="url" rel="external nofollow"><%= comment.name %></a></cite></span> 
                       <span class="published"><abbr class="comment-date" title="<%= comment.created_at.strftime('%A, %e %B %Y, %l:%M%P') %>"><%= comment.created_at.strftime('%A, %e %B %Y') %></abbr> at <abbr class="comment-time" title="<%= comment.created_at.strftime('%A, %e %B %Y, %l:%M%P') %>"><%= comment.created_at.strftime('%l:%M%P') %></abbr></span> 
                     </div> <!-- END .comment-meta -->

                     <div class="comment-content comment-text">
                       <p><%= comment.content %></p>
                     </div><!-- END .comment-content.comment-text -->
            
          </li><!-- END .comment -->   
        <% end %> 
      </ol><!-- END .comment-list -->

      <!-- Respond form ______________________________________-->
      <div id="respond">
        <h3 id="reply-title">Leave a Reply</h3>
        <%= render 'comment_form' %>
      </div><!-- END #respond -->
          
    </section>
    <!-- END #comments -->

  <!-- END #content --> 