<%= content_for :page_title, 'The Coder Factory Blog' %>
<%= content_for :breadcrumb, 'Blog' %>
<%= content_for :title, 'The Coder Factory Blog: Articles about Web design and development and coding with Ruby on Rails and Angular.js' %>
<%= content_for :description, "Articles are written by Pete Argent and Dan Siepen. We write about web design and web application development in relation to the Ruby on Rails, Angular.js, HTML, CSS and jQuery courses we offer at The Coder Factory." %>
<% if params[:tag] %>
	<h2>Posts tagged with: <em><%= @tag %></em></h2>
<% elsif params[:category] %>
	<h2><%= @category.name %> Posts</h2>
<% end %>
<%= render @posts %>