<%= content_for :page_title, 'The Coder Factory Blog' %>
<%= content_for :breadcrumb, 'Blog' %>
<% if params[:tag] %>
	<h2>Posts tagged with: <em><%= @tag %></em></h2>
<% elsif params[:category] %>
	<h2><%= @category.name %> Posts</h2>
<% end %>
<%= render @posts %>