<%= content_for :page_title, 'About The Coder Factory' %>
<%= content_for :breadcrumb, 'About' %>
<%= content_for :title, 'About The Coder Factory: Web design and development classes with Ruby on Rails and Angular.js' %>
<%= content_for :description, "The Coder Factory offers a range of part time courses to teach you web development with Ruby on Rails, Angular.js, HTML5, CSS3, jQuery." %>

</div>
<div class="white-box">
	<div class="wrapper">		
		<div class="row">
			<div class="col-md-6">
				<h2>Changing the future.</h2>
				<p class="grey">The Coder Factory provides education in the latest web design and application development technologies to enable people to empower themselves and improve the lives of their family, their communities and their world.</p>
			</div>
	 		<div class="col-md-6">
	 			<h2>Change your future!</h2>
				<p class="grey">Our graduates have the skills, knowledge and confidence to build their own tech startups and create apps that make a difference in the world, help advance their careers and enrich their personal life.</p>
			</div>
		</div>
		<div class="row">
	 		<div class="col-md-6">
				<h2>Coding is a super power!</h2>
	 			<p class="grey">Once you know how to code, a whole new world of possibilities open up to you. You now have the power to code for the rest of your life.</p>
				
			</div>
	 		<div class="col-md-6">

				<h2>Change the world.</h2>
				<p class="grey">Will the apps you create revolutionise the world as we know it? Solve world hunger? Elimate poverty? Bring about peace for all mankind?</p>
			</div>
			 
		</div>
	</div>
</div>

<div class="grey-box">
	<div class="wrapper row">
		<div class="col-md-4">
			<h3 class="smaller-margin">
				<span class="square-icons blue">
				<i class="fa fa-globe"></i> </span>
				Aims
			</h3>
			<p>Advance technology education in Australia and globally to help improve the work and lives of people everywhere.</p>
		</div>
		<div class="col-md-4">
			<h3 class="smaller-margin">
				<span class="square-icons blue">
				<i class="fa fa-flag-checkered"></i> </span>
				Goals
			</h3>
			<p>Support tech startup entrepreneurs through education, networking opportunities and media exposure.</p>
		</div>
		<div class="col-md-4">
			<h3 class="smaller-margin">
				<span class="square-icons blue">
				<i class="fa fa-calendar"></i> </span>
				Plans
			</h3>
			<p>Undertake initiatives that encourage more people to learn coding and better their lives.</p>
		</div>
	</div>
	<br>
	<div class="wrapper row">
		<div class="col-md-4">
			<h3 class="smaller-margin">
				<span class="square-icons blue">
				<i class="fa fa-code"></i> </span>
				Advice
			</h3>
			<p>Provide web application development advice and services for innovative tech startup founders and small businesses.</p>
		</div>
		<div class="col-md-4">
			<h3 class="smaller-margin">
				<span class="square-icons blue">
				<i class="fa fa-group"></i> </span>
				Community
			</h3>
			<p>Promote and encourage a supportive and welcoming coder community through entertaining and inclusive events.</p>
		</div>
		<div class="col-md-4">
			<h3 class="smaller-margin">
				<span class="square-icons blue">
				<i class="fa fa-rocket"></i> </span>
				Future
			</h3>
			<p>Explore technologies that help the world's population lead peaceful, happy lives.</p>
		</div>
	</div>
</div>
<div class="widgets container">
	<div class="wrapper row">
		<h2>The Coder Factory Team</h2>

		<div class="row">
			<%= render @users %>
		</div> 
	</div>
</div>

		