<%= content_for :page_title, 'About The Coder Factory' %>
<%= content_for :breadcrumb, 'About' %>
<!-- <div class="col-md-8">
				<h2>Welcome to The Coder Factory</h2>
				<p><img class="left" src="images/monitor.png" alt="" height="195" /> Aliquam hendrit rutrum iaculis nullam ondimentum maluada velit beum donec sit amet tristique erosam amet. Risus mollis malesuada quis quis nulla. Vestibulum ante ipsum primis in faucibus orcluctus et ultrices posuere cubilia mattis elit porttitor euismod pharetra sem interdum. Etiam laoreet sagittis placerat. Ut in magna sit amet massa posuere pretium. Vestibulum id est nulla, non adipiscing tortor. Aenean sed dolor quis nulla sodales bibendum. In vitae justo mi. Donec vitae lacus sed risus accumsan consectetur.</p>
			</div> -->
			

<div class="row">
	<div class="col-md-3">
		<h2>Mission</h2>
		<h3 class="big">Teach the world to code!</h3>
	
			<p class="grey">To empower the citizens of the world to embrace their technological future.</p>
	</div>
	<div class="col-md-9 pull-right">
		<div class="well">
			<div class="row">
				<div class="col-md-4">
					<%= image_tag 'Obama.png', class: 'video-still img-responsive img-thumbnail' %>
					<p>
						President Obama calls on everyone to learn to code<br>
						<a href="http://bit.ly/1cK2Lfy" class="btn btn-primary btn-sm" target="_blank">
						  <i class="fa fa-play"></i> Watch video
						</a>
					</p>
				</div>
				<div class="col-md-4">
					<%= image_tag 'Zuckerberg.png', class: 'video-still img-responsive img-thumbnail' %>
					<p>What most schools don't teach<br>
					<a href="http://bit.ly/1cK2HMH" class="btn btn-primary btn-sm" target="_blank">
						  <i class="fa fa-play"></i> Watch video
						</a></p>
				</div>
				<div class="col-md-4">
					<%= image_tag 'Teach.png', class: 'video-still img-responsive img-thumbnail' %>
					<p>Teach the world to code - Pete Argent at Ignite Sydney<br>
					<a href="http://bit.ly/1cK2Pfh" class="btn btn-primary btn-sm" target="_blank">
						  <i class="fa fa-play"></i> Watch video
						</a></p>
				</div>
			</div>
		</div>     
	</div>
	
            <div class="clear"></div>   
			
			<!-- <br /><br />
			<div class="row">
				<div class="col-md-4">
					<h3><span class="circle-icons blue"><i>1</i></span> Technology education</h3>
					<p class="clear">
						Learn the latest and greatest web development technologies including <em>Ruby on Rails</em>, <em>Angular.js</em>, <em>HTML5, CSS3</em> and <em>jQuery</em>.
					</p>
				</div>

				<div class="col-md-4">
					<h3><span class="circle-icons blue"><i>2</i></span> Build + launch real apps</h3>
					<p class="clear">
						Experience the fun and excitement of building and launching a real live app with the rest of your classmates! Plus have the opportunity to build your own app ideas.
					</p>
				</div>

				<div class="col-md-4">
					<h3><span class="circle-icons blue"><i>3</i></span> Network with the startup community</h3>
					<p class="clear">
						As a Coder Factory student, you will have many opportunities to meet and network with the people of the startup scene and hear their advice.
					</p>
				</div>

				
				<div class="clear"></div>
			</div>  --> 
			
			<p  class="clear"></p>
			
			
			<h2>The Coder Factory Team</h2>
			<!-- <p class="sub-heading-upper smaller-margin">Meet the people</p>
			<br /><br> -->
			<div class="row">
			<%= render @users %>
				
				
				
				<p class="clear"></p>
			</div> <!-- END .p100 -->
			
			<!-- END of WYSIWYG content ____________________________-->
			<div class="clear"></div>
		