<%= content_for :page_title, 'Contact The Coder Factory' %>
<%= content_for :title, 'Contact The Coder Factory' %>
<%= content_for :breadcrumb, 'Contact Us' %>
<%= content_for :title, 'Contact The Coder Factory: Call us, email us, share us.' %>
<%= content_for :description, "The Coder Factory offers a range of part time courses to teach you web development with Ruby on Rails, Angular.js, HTML5, CSS3, jQuery. Please contact us if you have any questions." %>

<div class="p30">
	<h3>Contact Info</h3>

	<h4>Address</h4>
	<p>Level 1<br>
	91 Campbell St<br>
	Surry Hills, NSW 2010<br/>
	Australia</p>

	<p class="address"><strong><i class="fa fa-phone" title="Phone"></i> &nbsp;</strong>  <a href="tel:1300884095">1300 884 095</a><br/>
	<strong><i class="fa fa-envelope" title="Email"></i> &nbsp;</strong> <a href="mailto:info@thecoderfactory.com">info@thecoderfactory.com</a><br/>
	<strong><i class="fa fa-desktop" title="Web"></i> &nbsp;</strong>  thecoderfactory.com</p>	
</div><!-- END .p25 -->
	
<div class="p70 right">
	<h3>Let's keep in touch</h3>
	<%= render 'enquiries/form' %>
</div>
