<%= content_for :page_title, 'Relaunch @ The Coder Factory' %>
<%= content_for :title, 'Relaunch @ Coder Factory' %>
<%= content_for :breadcrumb, 'Relaunch - hear about it first' %>
<%= content_for :title, 'Contact The Coder Factory: Call us, email us, share us.' %>
<%= content_for :description, "The Coder Factory offers a range of part time courses to teach you web development with Ruby on Rails, Angular.js, HTML5, CSS3, jQuery. We're about to relaunch in a big way." %>

<div class="row">
<div class="col-md-12">
<h1>We are preparing something big</h1>
<br>
</div>
</div>
<div class="row">

<div class="col-md-3">
<!-- Begin MailChimp Signup Form -->
<div id="mc_embed_signup">
<form action="http://thecoderfactory.us7.list-manage.com/subscribe/post?u=1c644187b6d7e06d32bcae158&amp;id=2afdc8b0c3" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate role="form">
	<h4>Be amongst the first to hear about the big relaunch</h4>

<div class="mc-field-group form-group">
	
	<input type="email" value="" name="EMAIL" class="required email form-control" id="mce-EMAIL" autofocus="true" placeholder="Email address*">
</div>
<div class="mc-field-group form-group">
	
	<input type="text" value="" name="FNAME" class=" form-control" id="mce-FNAME" placeholder="First name">
</div>
<div class="mc-field-group form-group">
	
	<input type="text" value="" name="LNAME" class=" form-control" id="mce-LNAME" placeholder="Last name">
</div>
	<div id="mce-responses" class="clear">
		<div class="response" id="mce-error-response" style="display:none"></div>
		<div class="response" id="mce-success-response" style="display:none"></div>
	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;"><input type="text" name="b_1c644187b6d7e06d32bcae158_2afdc8b0c3" value=""></div>
	<div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-success btn-lg"></div>
</form>
</div>

<!--End mc_embed_signup-->

</div>
<div class="col-md-1">
</div>

<div class="col-md-8">


<h2>At The Coder Factory, we are bringing you the future of education.</h2>

<h3>What does this mean for you?</h3> 

<ul class="arrow">
<li>Have you ever sat through a course that included sections you already knew?</li>
<li>Have you felt that your life goals were not a consideration of the training provider?</li>
<li>Has online training left you frustrated, bored or confused?</li>
<li>Do you need flexibility with the time you can commit to learning?</li>


</ul>
</div>
</div>
<div class="row">
<div class="col-md-12">
<div class="well">
<p>The Coder Factory provides a friendly and ambitious community of students, graduates, mentors and industry experts to support and guide you through the challenges of learning new skills that transform your life.</p>

</div></div>
</div>

</div>