<%= simple_form_for(@intake) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :course, as: :check_boxes %>
    <%= f.input :class_full %>
    <%= f.input :places_left %>
    <%= f.input :start_date %>
    <%= f.input :end_date %>
    <%= f.input :class_days %>
    <%= f.input :start_time %>
    <%= f.input :finish_time %>
    <%= f.input :location %>
    <%= f.input :notes %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
