<h1>Listing intakes</h1>

<table class="table">
  <thead>
    <tr>
      <th>Start date</th>
      <th>End date</th>
      <th>Class days</th>
      <th>Start time</th>
      <th>Finish time</th>
      <th>Location</th>
      <th>Notes</th>
      <th>Course</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @intakes.each do |intake| %>
      <tr>
        <td><%= intake.start_date %></td>
        <td><%= intake.end_date %></td>
        <td><%= intake.class_days %></td>
        <td><%= intake.start_time %></td>
        <td><%= intake.finish_time %></td>
        <td><%= intake.location %></td>
        <td><%= intake.notes %></td>
        <td><%= intake.course %></td>
        <td><%= link_to 'Show', intake %></td>
        <td><%= link_to 'Edit', edit_intake_path(intake) %></td>
        <td><%= link_to 'Destroy', intake, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Intake', new_intake_path %>
