<div id="sticks-to-top">
		<div class="wrapper">
		
			<!-- Main menu _____________________________________________-->
			<nav id="mainmenu" role="navigation">
				<ul>
					<li>
						<%= link_to "The Coder Factory", root_path, style: "font-size: 1.8em;
						font-weight:100;text-transform:none;", class: ('active' if current_page?(root_path)), 'data-no-turbolink' => true %>					
					</li>

					<li><a href="/web-development-and-javascript-courses" class="<%= 'active' if current_page?(courses_path)%>">Courses <i class="fa fa-angle-down"></i></a>
						<ul class="sub-menu">
							<% @submenu_courses.each do |course| %>
								<li><%= link_to course.title, course %></li>
							<% end %>
						</ul>
					</li>
					<li><%= link_to "About", about_path, class: ('active' if current_page?(about_path)) %></li>
					
					<li><%= link_to "Blog", blog_path, class: ('active' if current_page?(blog_path)) %></li>
			   		<li><%= link_to "Contact Us", contact_path, class: ('active' if current_page?(contact_path)), 'data-no-turbolink' => true %></li>
			   		

				</ul>
				
			</nav>
			</div>	

		</div> <!-- END .wrapper FOR #sticks-to-top -->
	</div>  
	<!-- END #sticks-to-top -->

	
	

<!-- END #header -->