<!-- HEADER _____________________________________________-->
<header role="banner" id="header">

	<div id="sticks-to-top">
		<div class="wrapper">
		
			<!-- Main menu _____________________________________________-->
			<nav id="mainmenu" role="navigation">
				<ul>
					<li>
						<a href="index.html" class="active">The Coder Factory</a>					
					</li>
					<li><a href="about-us.html">About</a>
						<!-- <ul class="sub-menu">
							<li><a href="faqs.html">Left Sidebar</a></li>
							<li><a href="testimonials.html">Right Sidebar</a></li>
							<li><a href="team.html">Full Width</a></li>
						</ul> -->
					</li>
					<li><a href="#">Courses <i class="fa fa-angle-down"></i></a>
						<ul class="sub-menu">
							<li><a href="about-us.html">Beginner Coder</a></li>
							<li><a href="elements.html">Rails Coder</a></li>
							<li><a href="team.html">Angular Coder</a></li>
							<li><a href="team.html">Expert Coder</a></li>
						</ul>
					</li>
					<li><a href="portfolio.html">Calendar</a>
						<!-- <ul class="sub-menu">
							<li><a href="portfolio.html">Classic</a></li>
							<li><a href="masonry.html">Masonry style</a></li>
							<li><a href="photoalbums.html">Photo Albums</a></li>
							<li><a href="portfolio-single.html">Portfolio Single</a></li>
						</ul> -->
					</li>
					<li><a href="blog.html">Blog</a>
						<!-- <ul class="sub-menu">
							<li><a href="blog.html">Blog</a></li>
							<li><a href="blog-post.html">Blog Post</a></li>
						</ul> -->
					</li>
								     		    
				</ul>
			</nav>
		
			<!-- Logo _____________________________________________-->
			<h1 id="logo">
			<!-- 	<a href="/" rel="home" title="">The Coder Factory</a>-->
			</h1> 

			<!-- Address ______________________________________-->
			<div id="address-block"> 
				<ul>
			   		<!-- <li><i class="icon-phone"></i>CALL: &nbsp; (123)-456-9999</li> --> 
			   		<li><a href="contact.html">Contact Us</a></li>
			   		<li>Share:</li>
					<li class="smaller-gap"><a href="https://twitter.com/share?url=http://thecoderfactory.com&via=coderfactory&text=Learn to code" target="_blank" title="Twitter"><i class="fa fa-twitter"></i></a></li>
					<li class="smaller-gap"><a href="https://www.facebook.com/sharer/sharer.php?u=http://thecoderfactory.com" target="_blank" title="Facebook"><i class="fa fa-facebook"></i></a></li>
					<li class="smaller-gap"><a href="https://plus.google.com/share?url=http://thecoderfactory.com" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;" target="_blank" title="Google+"><i class="fa fa-google-plus"></i></a></li>
					<li class="smaller-gap"><a href="http://www.linkedin.com/shareArticle?mini=true&url=http://thecoderfactory.com&source=The Coder Factory" target="_blank" title="LinkedIn"><i class="fa fa-linkedin"></i></a></li>
					
				</ul>
			</div>	

		</div> <!-- END .wrapper FOR #sticks-to-top -->
	</div>  
	<!-- END #sticks-to-top -->

	<!-- Slider _____________________________________________-->
	<section id="slider">
		<a href="javascript:void(0)" class="prev1"></a>
		<a href="javascript:void(0)" class="next1"></a>
		<ul id="slides">
			<li class="slide">
				<div class="wrapper">
					<div class="slide-text">
						<!-- <p class="sub-heading-upper">Embrace your technological future!</p> -->
						<p class="big">Learn to code:<br> change your life.</p>
						<p>It's not that hard to learn to code. Anyone can do it. Eleven year old boys and girls are selling apps on the App store.</p>
					</div>
					<div class="slide-image">
						<%= image_tag "slide-image-1a.png", alt: '' %>
						<%= image_tag "slide-image-1b.png", alt: '' %>
						<%= image_tag "slide-image-1c.png", alt: '' %>
						<%= image_tag "slide-image-1d.png", alt: '' %>
					</div>
				</div>
				<div class="slide-back">
					<!-- no background image for this slide -->
				</div>
			</li>
			<li class="slide">
				<div class="wrapper">
					<div class="slide-text">
						<p class="big">Free iPad Mini<br> or Nexus 7.</p>
						<p>Sign up for the EXPERT CODER course and receive your choice of an iPad Mini or Google Nexus 7.</p>
					</div>
					<div class="slide-image">
						<%= image_tag "slide-image-1a.png", alt: '' %>
						<%= image_tag "ipadminib.png", alt: '' %>
					</div>
				</div>
				<div class="slide-back">
					<!-- no background image for this slide -->
				</div>
			</li>
			<li class="slide">
				<div class="wrapper">
					<div class="slide-text">
						
						<p class="big">Can't find a<br>tech co-founder?</p>
						<p>Learn to code and build your own MVP. Then you have something real to inspire developers, investors and even customers.</p>
					</div>
					<div class="slide-image">
						<%= image_tag "slide-image-1a.png", alt: '' %>
						<%= image_tag "slide-image-1b.png", alt: '' %>
						<%= image_tag "slide-image-1c.png", alt: '' %>
						<%= image_tag "slide-image-1d.png", alt: '' %>
					</div>
				</div>
				<div class="slide-back">
					<!-- no background image for this slide -->
				</div>
			</li>
			<li class="slide">
				<div class="wrapper">
					<div class="slide-text">
						<p class="big">Learn to code:<br> change your life.</p>
						<p>It's not that hard to learn to code. Anyone can do it. Eleven year old boys and girls are selling apps on the App store.</p>
					</div>
					<div class="slide-image">
						<%= image_tag "slide-image-1a.png", alt: '' %>
						<%= image_tag "slide-image-1b.png", alt: '' %>
						<%= image_tag "slide-image-1c.png", alt: '' %>
						<%= image_tag "slide-image-1d.png", alt: '' %>
					</div>
				</div>
				<div class="slide-back">
					<!-- no background image for this slide -->
				</div>
			</li>
		</ul>
	</section>
	<!--  END #slider -->
	
</header>
<!-- END #header