<!-- HEADER _____________________________________________-->
<header role="banner" id="header">

	<div id="sticks-to-top">
		<div class="wrapper">
		
			<!-- Main menu _____________________________________________-->
			<nav id="mainmenu" role="navigation">
				<ul>
					<li>
						<%= link_to "The Coder Factory", root_path, style: "font-size: 1.8em;
						font-weight:100;text-transform:none;" %>					
					</li>
				
					<li><%= link_to courses_path do %>Courses <i class="fa fa-angle-down"></i><% end %>
						<ul class="sub-menu">
							<li><%= link_to "Beginner Coder", courses_path %></li>
							<li><%= link_to "Rails Coder", courses_path %></li>
							<li><%= link_to "Angular Coder", courses_path %></li>
							<li><%= link_to "Expert Coder", courses_path %></li>
						</ul>
					</li>
					<li><%= link_to "About", about_path %></li>
					<li><%= link_to "Calendar", calendar_path %></li>
					<li><%= link_to "Blog", blog_path %></li>
			   		<li><%= link_to "Contact Us", contact_path %></li>
			   		<li><a href="#" style="color:yellow;"><i class="fa fa-share"></i> Share</a>
						<ul class="sub-menu">
							<li><a href="https://twitter.com/share?url=http://thecoderfactory.com&via=coderfactory&text=Learn to code" target="_blank" title="Twitter">Tweet <i class="fa fa-twitter fa-lg fa-fw pull-right"></i></a></li>
							<li><a href="https://www.facebook.com/sharer/sharer.php?u=http://thecoderfactory.com" target="_blank" title="Facebook">Share <i class="fa fa-facebook fa-lg fa-fw pull-right"></i></a></li>
							<li><a href="https://plus.google.com/share?url=http://thecoderfactory.com" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;" target="_blank" title="Google+">Circle <i class="fa fa-google-plus fa-lg fa-fw pull-right"></i></a></li>
							<li><a href="http://www.linkedin.com/shareArticle?mini=true&url=http://thecoderfactory.com&source=The Coder Factory" target="_blank" title="LinkedIn">Link up<i class="fa fa-linkedin fa-lg fa-fw pull-right"></i> </a></li>
						</ul>
					</li>

				</ul>
			</nav>
			</div>	

		</div> <!-- END .wrapper FOR #sticks-to-top -->
	</div>  
	<!-- END #sticks-to-top -->

	<!-- Slider _____________________________________________-->
	<section id="slider">
		<a href="javascript:void(0)" class="prev1"></a>
		<a href="javascript:void(0)" class="next1"></a>
		<ul id="slides">
			<li class="slide">
				<div class="wrapper">
					<div class="slide-text">
						<!-- <p class="sub-heading-upper">Embrace your technological future!</p> -->
						<p class="big">Learn to code:<br> change your life.</p>
						<p>It's not that hard to learn to code. Anyone can do it. Eleven year old boys and girls are selling apps on the App store.</p>
					</div>
					<div class="slide-image">
						<%= image_tag "slide-image-1a.png", alt: '' %>
						<%= image_tag "slide-image-1b.png", alt: '' %>
						<%= image_tag "slide-image-1c.png", alt: '' %>
						<%= image_tag "slide-image-1d.png", alt: '' %>
					</div>
				</div>
				<div class="slide-back">
					<!-- no background image for this slide -->
				</div>
			</li>
			<li class="slide">
				<div class="wrapper">
					<div class="slide-text">
						<p class="big">Free iPad Mini<br> or Nexus 7.</p>
						<p>Sign up for the EXPERT CODER course and receive your choice of an iPad Mini or Google Nexus 7.</p>
					</div>
					<div class="slide-image">
						<%= image_tag "ipad_mini.png", alt: '' %>
					</div>
				</div>
				<div class="slide-back">
					
				</div>
			</li>
			<li class="slide">
				<div class="wrapper">
					<div class="slide-text">
						
						<p class="big">Can't find a<br>tech co-founder?</p>
						<p>Learn to code and build your own MVP. Then you have something real to inspire developers, investors and even customers.</p>
					</div>
					<div class="slide-image">
						<%= image_tag "slide-image-1a.png", alt: '' %>
						<%= image_tag "slide-image-1b.png", alt: '' %>
						<%= image_tag "slide-image-1c.png", alt: '' %>
						<%= image_tag "slide-image-1d.png", alt: '' %>
					</div>
				</div>
				<div class="slide-back">
					<!-- no background image for this slide -->
				</div>
			</li>
			<li class="slide">
				<div class="wrapper">
					<div class="slide-text">
						<p class="big">Learn to code:<br> change your life.</p>
						<p>It's not that hard to learn to code. Anyone can do it. Eleven year old boys and girls are selling apps on the App store.</p>
					</div>
					<div class="slide-image">
						<%= image_tag "slide-image-1a.png", alt: '' %>
						<%= image_tag "slide-image-1b.png", alt: '' %>
						<%= image_tag "slide-image-1c.png", alt: '' %>
						<%= image_tag "slide-image-1d.png", alt: '' %>
					</div>
				</div>
				<div class="slide-back">
					<!-- no background image for this slide -->
				</div>
			</li>
		</ul>
	</section>
	<!--  END #slider -->
	
</header>
<!-- END #header -->