<div id="sticks-to-top">
		<div class="wrapper">
		
			<!-- Main menu _____________________________________________-->
			<nav id="mainmenu" role="navigation">
				<ul>
					<li>
						<%= link_to "The Coder Factory", root_path, style: "font-size: 1.8em;
						font-weight:100;text-transform:none;", class: ('active' if current_page?(root_path)), 'data-no-turbolink' => true %>					
					</li>

					<li><a href="/web-development-and-javascript-courses" class="<%= 'active' if current_page?(courses_path)%>">Courses <i class="fa fa-angle-down"></i>
						<ul class="sub-menu">
							<% @courses.each do |course| %>
								<li><%= link_to course.title, course %></li>
							<% end %>
						</ul>
					</li>
					<li><%= link_to "About", about_path, class: ('active' if current_page?(about_path)) %></li>
					
					<li><%= link_to "Blog", blog_path, class: ('active' if current_page?(blog_path)) %></li>
			   		<li><%= link_to "Contact Us", contact_path, class: ('active' if current_page?(contact_path)), 'data-no-turbolink' => true %></li>
			   		<li><a href="#" style="color:yellow;"><i class="fa fa-share"></i> Share</a>
						<ul class="sub-menu">
							<li><a href="https://twitter.com/share?url=http://thecoderfactory.com&via=coderfactory&text=Learn to code" target="_blank" title="Twitter">Tweet <i class="fa fa-twitter fa-lg fa-fw pull-right"></i></a></li>
							<li><a href="https://www.facebook.com/sharer/sharer.php?u=http://thecoderfactory.com" target="_blank" title="Facebook">Share <i class="fa fa-facebook fa-lg fa-fw pull-right"></i></a></li>
							<li><a href="https://plus.google.com/share?url=http://thecoderfactory.com" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;" target="_blank" title="Google+">Circle <i class="fa fa-google-plus fa-lg fa-fw pull-right"></i></a></li>
							<li><a href="http://www.linkedin.com/shareArticle?mini=true&url=http://thecoderfactory.com&source=The Coder Factory" target="_blank" title="LinkedIn">Link up<i class="fa fa-linkedin fa-lg fa-fw pull-right"></i> </a></li>
						</ul>
					</li>

				</ul>
			</nav>
			</div>	

		</div> <!-- END .wrapper FOR #sticks-to-top -->
	</div>  
	<!-- END #sticks-to-top -->

	
	

<!-- END #header -->