		<!-- Sidebar _______________________________________________-->
		<aside id="sidebar">

			<div class="widget">
				<form action="http://thecoderfactory.us7.list-manage1.com/subscribe/post?u=1c644187b6d7e06d32bcae158&amp;id=2afdc8b0c3" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
					<div class="form-group">
					<label for="mce-EMAIL">Stay up to date with the latest from The Coder Factory</label>
					<input type="email" value="" name="EMAIL" class="email form-control" id="mce-EMAIL" placeholder="email address" required></div>
				    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
				    <div style="position: absolute; left: -5000px;"><input type="text" name="b_1c644187b6d7e06d32bcae158_2afdc8b0c3" value=""></div>
					<div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-success"></div>
				</form>

			</div>
			<div class="widget">
				<h3>Recent Posts</h3>
				<ul class="popular-posts">
					<% @recent_posts.each do |recent_post| %>
					<li>
						<div class="post-thumb"> 
							<%= link_to recent_post do %><%= image_tag recent_post.image %><% end %>
						</div>
						<div class="entry-summary">
							<h4><%= link_to recent_post.title, recent_post %></h4>
							<p class="entry-meta"> <%= recent_post.created_at.strftime('%e %B %Y') %></p>
						</div><div class="clear"></div>
					</li>
					<% end %>
				</ul>
			</div>
			<div class="widget">
				<h3>Categories</h3>
				<ul class="sidemenu">
					<% @categories.each do |category| %>
						<% if category.posts.count > 0 %>
							<li><%= link_to category.name, blog_path(:category => category) %></li>
						<% end %>
					<% end %>
					
				</ul>
			</div><!-- END .widget -->

			
			<div class="widget">
				<h3>Popular Tags</h3>
				<ul class="tags">
					<% Post.tag_counts.each do |tag| %>
					<li><%= link_to tag, blog_path(:tag => tag) %></li>
					<% end %>
				</ul>
				<div class="clear"></div>
			</div>
			
			
			
		</aside><!-- END #sidebar -->

	<div class="clear"></div>