		<!-- Sidebar _______________________________________________-->
		<aside id="sidebar">
			<div class="widget">
				<h3>Recent Posts</h3>
				<ul class="popular-posts">
					<% @recent_posts.each do |recent_post| %>
					<li>
						<div class="post-thumb"> 
							<%= link_to recent_post do %><%= image_tag recent_post.image %><% end %>
						</div>
						<div class="entry-summary">
							<h4><%= link_to recent_post.title, recent_post %></h4>
							<p class="entry-meta"> <%= recent_post.created_at.strftime('%e %B %Y') %></p>
						</div><div class="clear"></div>
					</li>
					<% end %>
				</ul>
			</div>
			<div class="widget">
				<h3>Categories</h3>
				<ul class="sidemenu">
					<% @categories.each do |category| %>
						<% if category.posts.count > 0 %>
							<li><%= link_to category.name, blog_path(:category => category) %></li>
						<% end %>
					<% end %>
					
				</ul>
			</div><!-- END .widget -->

			
			<div class="widget">
				<h3>Popular Tags</h3>
				<ul class="tags">
					<% Post.tag_counts.each do |tag| %>
					<li><%= link_to tag, blog_path(:tag => tag) %></li>
					<% end %>
				</ul>
				<div class="clear"></div>
			</div>
			
			
			
		</aside><!-- END #sidebar -->

	<div class="clear"></div>