<!-- Slider _____________________________________________-->
	<section id="slider">
		<a href="javascript:void(0)" class="prev1"></a>
		<a href="javascript:void(0)" class="next1"></a>
		<ul id="slides">
			
			<li class="slide">
				<div class="wrapper">
					<div class="slide-text">
						<p class="big">Summer Coder Camp</p>
						<p>Six weeks of fun and coding - starts January 2014
						<br>
						<a href="/courses/summer-coder-camp-rails-angular" alt="Summer Coder Camp" class="btn btn-default">Find out more</a></p>
					</div>
					<div class="slide-image">
						<%= image_tag "new_ipad_mini.png", alt: '' %>
					</div>
				</div>
				<div class="slide-back">
					
				</div>
			</li>
			<li class="slide">
				<div class="wrapper">
					<div class="slide-text">
						<p class="big">Free iPad Mini<br> or Nexus 7.</p>
						<p>Sign up for EXPERT CODER or SUMMER CODER CAMP and receive your choice of an iPad Mini or Google Nexus 7.</p>
					</div>
					<div class="slide-image">
						<%= image_tag "new_ipad_mini.png", alt: '' %>
					</div>
				</div>
				<div class="slide-back">
					
				</div>
			</li>
			
			<li class="slide">
				<div class="wrapper">
					<div class="slide-text">
						
						<p class="big">Can't find a<br>tech co-founder?</p>
						<p>Learn to code and build your own MVP. Then you have something real to inspire developers, investors and even customers.</p>
					</div>
					<div class="slide-image">
						<%= image_tag "slide-image-1a.png", alt: '' %>
						<%= image_tag "slide-image-1b.png", alt: '' %>
						<%= image_tag "slide-image-1c.png", alt: '' %>
						<%= image_tag "slide-image-1d.png", alt: '' %>
					</div>
				</div>
				<div class="slide-back">
					<!-- no background image for this slide -->
				</div>
			</li>
			
		</ul>
	</section>
	<!--  END #slider -->