<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "The Coder Factory" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "The Coder Factory" %>">
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
      <!--[if lt IE 9]>
        <script src="html5shiv.js"></script>
        <script src="respond.min.js"></script>
      <![endif]-->
    <script src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <%= csrf_meta_tags %>
    <%= render 'layouts/google_analytics' %>
  </head>
  <body>
  <!-- HEADER _____________________________________________-->
  <header role="banner" id="header">
    <%= render 'layouts/header' %>
  </header>
    <%= render 'layouts/page_title' %>
    <%= render 'layouts/map' if current_page?(contact_path) %>
    
      <section id="content" class="full-width" role="main">
        <div class="wrapper">
          <%= render 'layouts/messages' %>
          <%= yield %>
          
        </div>
      </section><!-- END #content -->
    
    <%= render 'layouts/back_to_top' %>
    <%= render 'layouts/footer' %>
  </body>
</html>
