<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "The Coder Factory" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "The Coder Factory" %>">
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <%= render 'layouts/facebook_pixel' %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/google_analytics' %>
  </head>
  <body data-no-turbolink>
  <!-- HEADER _____________________________________________-->
  <header role="banner" id="header">
    <%= render 'layouts/header' %>
  </header>
    <%= render 'layouts/page_title' %>
    
    <% if current_page?(contact_path) %>
      <div id="map">
        <div id="map-content">
          <p class="center">Unable to load map... Try to enable your JavaScript!</p>
        </div>
      </div>
    <% end %>
      <section id="content" class="full-width" role="main">
        <div class="wrapper">
          <%= render 'layouts/messages' %>
          <%= yield %>
        </div>
      </section><!-- END #content -->
    <%= render 'layouts/back_to_top' %>
    <% if current_page?(contact_path) %>
    <script src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script>    
jQuery(document).ready(function() {
  // init gmap
   $('#map-content').gMap({
    address: "91 Campbell Street, Surry Hills, NSW 2008 Australia",
    scrollwheel: false,
    zoom: 14,
    // maptype: 'HYBRID',
    markers:[
      {
        html: "<h2>The Coder Factory</h2><h3>Level 1, 91 Campbell Street,<br>Surry Hills NSW 2010</h3>",
        address: "91 Campbell Street, Surry Hills, NSW 2008 Australia"
      }
    ]
  });
});
</script>
    <% end %>
    <%= render 'layouts/footer' %>
  </body>
</html>
