<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "The Coder Factory" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "The Coder Factory" %>">
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <%= render 'layouts/facebook_pixel' %>
    <%= csrf_meta_tags %>
    
  </head>
  <body>
  <!-- HEADER _____________________________________________-->
  <header role="banner" id="header">
    <%= render 'layouts/header' %>
  </header>
    <%= render 'layouts/page_title' %>
    
      <section id="content" class="full-width" role="main">
        <div class="wrapper">
          <%= render 'layouts/messages' %>
          <%= yield %>
        </div>
      </section><!-- END #content -->
    <%= render 'layouts/back_to_top' %>
    <%= render 'layouts/footer' %>
  </body>
</html>
