<!DOCTYPE html>
<html itemscope itemtype="http://schema.org/Article">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Web Development Articles - The Coder Factory Blog" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "The Coder Factory" %>">
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
   
    <!-- Add the following three tags inside head. -->
    <meta itemprop="name" content="<%= content_for?(:title) ? yield(:title) : 'Web Development Articles - The Coder Factory Blog' %>">
    <meta itemprop="description" content="<%= content_for?(:description) ? yield(:description) : 'The Coder Factory' %>">
    <meta itemprop="image" content="<%= content_for?(:image) ? yield(:image) : asset_path('logo2.png') %>">
    <!-- Twitter tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@coderfactory">
    <meta name="twitter:title" content="<%= content_for?(:title) ? yield(:title) : 'Web Development Articles - The Coder Factory Blog' %>">
    <meta name="twitter:description" content="<%= content_for?(:description) ? yield(:description) : 'The Coder Factory' %>">
    <meta name="twitter:creator" content="<%= content_for?(:author) ? yield(:author) : '@coderfactory' %>">
    <meta name="twitter:image:src" content="<%= content_for?(:image) ? yield(:image) : asset_path('logo2.png') %>">
    <!-- Open Graph -->
    <meta property="og:title" content="<%= content_for?(:title) ? yield(:title) : 'Web Development Articles - The Coder Factory Blog' %>" />
    <meta property="og:image" content="<%= content_for?(:image) ? yield(:image) : asset_path('logo2.png') %>" /> 
    <meta property="og:description" content="<%= content_for?(:description) ? yield(:description) : 'The Coder Factory' %>" />  

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <%= render 'layouts/facebook_pixel' %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/google_analytics' %>
  </head>
  <body data-no-turbolink>
  <header role="banner" id="header">
    <%= render 'layouts/header' %>
  </header>

<%= render 'layouts/page_title' %>

<div class="wrapper">

  <!-- MAIN CONTENT SECTION  _____________________________________________-->
  <section id="content" role="main">
  
    <!-- BLOG content  _____________________________________________-->
      <!-- Standard post excerpt _______________________________________________-->
      <%= yield %>
      
      
      
    </section>
    <!-- END #content --> 
    

    <!-- Sidebar _______________________________________________-->
    

  <%= render 'layouts/sidebar' %>

</div> <!-- END .wrapper -->
  

<%= render 'layouts/back_to_top' %>


<!-- FOOTER _____________________________________________-->
<%= render 'layouts/footer' %>
<!-- END footer -->


    
<!-- Custom Page Scripts _____________________________________________-->
<script>    
jQuery(document).ready(function() {
  // init Cycle for images
  $('.post-thumb .cycle').cycle({
    fx:      'fade', 
    speed:    300, 
    timeout:  4000,
    cleartype:  true,
    slideResize: true,
    fit: 1,
    width: '100%'
  });
});
</script>

  </body>
</html>
